html, body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(15, 14, 14) !important;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}




.header {
    position: relative;
    max-width: 100%;
    height: 450px; 
    background-image: url('https://picsum.photos/2200/600');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
}

.focim {
    background-color: rgb(20, 109, 109);
    color: white;
    font-size: 50px;
}

.alcim {
    color: white;
    font-size: 20px;
    background-color: rgb(0, 0, 0, 0.6) !important;
}

.header-content {
    position: relative;
}

.menu {
    visibility: hidden;
    position: absolute;
    left: -15px;
    top: 20px;
}

#linkek a{
    color: white;
    text-decoration: none;
    display: block;
    background-color: rgb(102, 95, 95, 0.3) !important;
    height: 200px;
    width: 200px;
    text-align: center;
}

.nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6) !important;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
}

.nav ul li {
    margin: 0 15px;
}

.nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
}

.nav ul li a:hover {
    background-color: rgb(20, 109, 109);
    border-radius: 15px;
    color: white;
    transition: 0.2s all ease-in;
    font-size: 25px;
}

.nav ul li a:hover::after {
    transition: 0.2s all ease-out;
}

main {
    color: white;
    
}

.szolgaltatasFocim {
    padding-top: 100px;
    font-size: 40px;
    text-align: center;
}

.szolgaltatasAlcim {
    text-align: center;
    font-size: 20px;
    color: rgb(102, 95, 95);
}

.kartyak {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}

.ikonok {
    color: rgb(20, 109, 109);
    border: 3px solid rgb(20, 109, 109);
    border-radius: 50%;
    padding: 25px;
}

footer {
    margin-top: 100px;
    color: white;
    background-color: rgb(20, 109, 109);
    padding: 10px 50px 50px 50px;
}

.lablecFocim {
    padding-bottom: 40px;
}

.kapcsolat {
    display: flex;
    justify-content: space-between;
}

.google-map {
    width: 20%;
    height: auto;
    position: relative;
    border: 5px solid white;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.main_box {
    position: relative; 
    z-index: 1000;
    visibility: hidden;
}

.main_box .sidebar_menu {
    position: fixed;
    height: 100vh;
    width: 300px;
    left: -300px;
    background: rgb(20, 109, 109, 0.8) !important;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}

.sidebar_menu .logo {
  position: absolute;
  width: 100%;
  height: 60px;  
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}

.sidebar_menu .logo a {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    left: 50px;
    line-height: 60px;
    text-decoration: none;
}

.sidebar_menu .menu3 {
    position: absolute;
    top: 80px;
    width: 100%;
}

.sidebar_menu .menu3 ul {
    list-style: none;
}

.sidebar_menu .menu3 li{
    margin-top: 6px;
    padding: 14px 20px;
    transition: all 0.3 linear;
}

.sidebar_menu .menu3 i{
    color: #fff;
    font-size: 20px;
    padding-right: 8px;
}

.sidebar_menu .menu3 a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.sidebar_menu .menu3 li:hover{
    border-left: 1px solid #fff;
    box-shadow: 0 0 4px rgb(255, 255, 255, 0.5);
}

#check {
    display: none;
}

.main_box .btn_one i{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s linear;
}

.sidebar_menu .btn_two i{
    color: #fff;
    font-size: 30px;
    line-height: 20px;
    position: absolute;
    left: 19px;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s linear;
}

.btn_one i:hover{
    font-size: 24px;
}

#check:checked ~.sidebar_menu {
    left: 0px;
}

#check:checked ~ .btn_one i{
    opacity: 0;
}

#check:checked ~ .btn_two i{
    opacity: 0;
}

/* header responsibility */
@media screen and (max-width: 1020px) {
    a {
        text-wrap: nowrap;
    }

    ul {
        flex-wrap: wrap;
    }

    nav {
        visibility: hidden;
    }

    .main_box {
        visibility: visible;
    }
}

@media screen and (max-width: 1060px) {
    a {
        text-wrap: nowrap;
    }

    .nav ul li a:hover {
        background-color: rgb(20, 109, 109);
        border-radius: 15px;
        color: white;
        transition: 0.2s all ease-in;
        font-size: 22px;
    }
    
    .nav ul li a:hover::after {
        transition: 0.2s all ease-out;
    }
}

/* body responsibility */
@media screen and (max-width: 1000px) {
    div .row
    {
        justify-content: center;
        align-items: center;
    }
}

/* footer responsibility */
@media screen and (max-width: 890px) {
    .kapcsolat {
        flex-wrap: wrap;
    }

    .google-map {
        width: 100%;
        height: 200px;
        position: relative;
        border: 5px solid white;
    }
    
    .google-map iframe {
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        position: absolute;
    }
}

@media screen and (max-width: 700px) {
    .kapcsolat {
        flex-wrap: wrap;
    }

    .google-map {
        width: 30%;
        height: 110px;
        position: relative;
        border: 5px solid white;
    }
    
    .google-map iframe {
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        position: absolute;
    }
}

@media screen and (max-width: 453px)
{
    .google-map {
        width: 100%;
        height: 110px;
        position: relative;
        border: 5px solid white;
    }
    
    .google-map iframe {
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        position: absolute;
    }
}




