<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- régi -->
    <div class="container" [ngClass]="{'active': isActive}">
        <div class="form-container sign-up">
            <form (ngSubmit)="registration()" #regForm="ngForm">
                <h1>Hozz létre fiókot</h1>
                <span>Regisztráljon e-mailel</span>
              
                
                <input
                  type="email"
                  placeholder="E-mail"
                  [(ngModel)]="user.email"
                  name="email"
                  email
                  required
                  #email="ngModel"
                />
                <div *ngIf="email.invalid && email.touched" class="error-message">
                  E-mail megadása kötelező!
                </div>
              
               
                <input
                  type="password"
                  placeholder="Jelszó"
                  [(ngModel)]="user.jelszo"
                  name="jelszo"
                  required
                  #jelszo="ngModel"
                  minlength="6"
                />
                <div *ngIf="jelszo.invalid && jelszo.touched" class="error-message">
                  A jelszónak legalább 6 karakter hosszúnak kell lennie!
                </div>
              
                
                <input
                  type="text"
                  placeholder="Felhasználónév"
                  [(ngModel)]="user.felhasznaloNev"
                  name="felhasznaloNev"
                  required
                  #felhasznaloNev="ngModel"
                />
                <div *ngIf="felhasznaloNev.invalid && felhasznaloNev.touched" class="error-message">
                  Felhasználónév megadása kötelező!
                </div>
              
               <div class="haromszam">
                
                <input
                  type="number"
                  placeholder="kg"
                  [(ngModel)]="user.testsuly"
                  name="testsuly"
                  required
                  #testsuly="ngModel"
                  min="1"
                  
                  id="bemenet1"
                />
                
              
              
                <input
                  type="number"
                  placeholder="cm"
                  [(ngModel)]="user.testmagassag"
                  name="testmagassag"
                  required
                  #testmagassag="ngModel"
                  min="50"
                 
                  id="bemenet2"
                />
               
              
                <input
                  type="number"
                  placeholder="Év"
                  [(ngModel)]="user.eletkor"
                  name="eletkor"
                  required
                  #eletkor="ngModel"
                  min="10"
                  
                  id="bemenet3"
                />
                
                <div *ngIf="testsuly.invalid && testsuly.touched" class="error-message" id="hiba1">
                  A testúlynak pozitív számnak kell lennie!
                </div>

                <div *ngIf="testmagassag.invalid && testmagassag.touched" class="error-message" id="hiba2">
                  A magasságnak 50 cm-nél nagyobbnak kell lennie!
                </div>

                <div *ngIf="eletkor.invalid && eletkor.touched" class="error-message" id="hiba3">
                  Az életkornak legalább 10-nek kell lennie!
                </div>
              
              </div>
              <div class="hibak">
               
              </div>
                <button>Regisztráció</button>
              </form>
              
        </div>

        <div class="form-container sign-in">
            <form (ngSubmit)="login()">
                <h1>Jelentkezzen be</h1>
                <span>E-mail segítségével</span>
                <input
                  type="text"
                  placeholder="Felhasználónév"
                  [(ngModel)]="user.felhasznaloNev"
                  name="felhasznaloNevb"
                  required
                  #felhasznaloNevb="ngModel"
                />
                <div *ngIf="felhasznaloNevb.invalid && felhasznaloNevb.touched" class="error-message">
                  Felhasználónév megadása kötelező!
                </div>
                <input
                  type="password"
                  placeholder="Jelszó"
                  [(ngModel)]="user.jelszo"
                  name="jelszob"
                  required
                  #jelszob="ngModel"
                  minlength="6"
                />
                <div *ngIf="jelszob.invalid && jelszob.touched" class="error-message">
                  A jelszónak legalább 6 karakter hosszúnak kell lennie!
                </div>
               
                <a href="#">Bejelentkezés vendégként</a>
                <button>Belépés</button>
            </form>
        </div>

        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Üdvözöljük ismét!</h1>
                    <p>Írja be a személyes adatait az oldal funkcióinak használatához</p>
                    <button class="hidden" (click)="toggleLogin()">Belépek</button>
                </div>

                <div class="toggle-panel toggle-right">
                    <h1>Helló, látogató!</h1>
                    <p>Regisztráljon fiókat az oldal funkcióinak használatához</p>
                    <button class="hidden" (click)="toggleRegister()">Regisztálok</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>