<h2 class="modal-title">Adjon hozzá egy ételt:</h2>

<input type="text" [(ngModel)]="searchText" placeholder="Keresés..." class="search-bar">

<div id="modal" class="modal-container">
  <div *ngFor="let i of filteredEtel()" class="modal-item">
    <p class="modal-item-name">{{ i.etelNev }}</p> 
    <p class="modal-item-name">Fehérje:{{i.etelFeherje}}; Zsír:{{i.etelZsir}}; Szénhidrát:{{i.etelSzenhidrat}}</p>    
    <p class="modal-item-name">kcal:{{ i.etelEnergia }}/100g;</p> 
    <p style="color: black;"><input type="number" placeholder="Mennyiség" style="width: 100px;" id=""> g</p>
   
    <hr class="divider">
    <button class="add-button">Hozzáad</button>
  </div>
</div>

<button mat-button (click)="close()" class="close-button">X</button>